absl-py
adal
adlfs
aiofiles
aiohappyeyeballs
aiohttp
aiosignal
alembic
allennlp
altair
aniso8601
annotated-types
antlr4-python3-runtime
anyconfig
anyio
appdirs
appnope
argcomplete
argon2-cffi
argon2-cffi-bindings
arrow
artifacts-keyring
AST
astroid
asttokens
astunparse
asyncio
async-lru
async-timeout
attrs
azure-ai-ml
azure-common
azure-core
azure-datalake-store
azure-graphrbac
azure-identity
azure-keyvault-secrets
azure-mgmt-authorization
azure-mgmt-containerregistry
azure-mgmt-core
azure-mgmt-keyvault
azure-mgmt-network
azure-mgmt-resource
azure-mgmt-storage
azureml-core
azureml-dataprep
azureml-dataprep-native
azureml-dataprep-rslex
azureml-featurestore
azureml-fsspec
azureml-interpret
azure-storage-blob
azure-storage-file-datalake
azure-storage-file-share
babel
backoff
backports.tempfile
backports.weakref
bandit
bcrypt
beanie
beautifulsoup4
bert-score
binaryornot
black
bleach
blinker
blis
boilerpy3
bs4
build
CacheControl
cachetools
catalogue
category-encoders
cattrs
certifi
cffi
cfgv
chardet
charset-normalizer
cleo
click
click-default-group
cloudpathlib
cloudpickle
colorama
coloredlogs
colorlog
comm
confection
configparser
contextlib2
contourpy
cookiecutter
coverage
crashtest
cryptography
cycler
cymem
Cython
dash
dash-core-components
dash-html-components
dash-table
databricks-sdk
dataclasses-json
datasets
debugpy
decorator
deepchecks
deepdiff
defusedxml
Deprecated
deprecation
dill
dirtyjson
distlib
distro
dnspython
docker
docutils
docx
dulwich
dynaconf
elasticsearch
elastic-transport
email-validator
emoji
entrypoints
et-xmlfile
Events
evidently
exceptiongroup
executing
faiss
faiss-cpu
faiss-gpu
Faker
farm-haystack
fastapi
fastapi-cli
fastjsonschema
filelock
filetype
flake8
Flask
Flask-HTTPAuth
Flask-SQLAlchemy
flask-swagger-ui
flatbuffers
fonttools
fqdn
frozenlist
fsspec
future
fuzzywuzzy
gast
gensim
gitdb
GitPython
google-ai-generativelanguage
google-api-core
googleapis-common-protos
google-auth
google-generativeai
google-pasta
graphene
graphframes
graphql-core
graphql-relay
great-expectations
greenlet
grpcio
grpcio-status
gunicorn
h11
h5py
html2text
httpcore
httptools
httpx
huggingface-hub
humanfriendly
identify
idna
imbalanced-learn
importlib-metadata
importlib-resources
inflect
iniconfig
installer
interpret-community
interpret-core
invoke
ipykernel
ipython
ipython-genutils
ipywidgets
isodate
isoduration
isort
iterative-telemetry
itsdangerous
jaraco.classes
jaraco.context
jaraco.functools
jedi
jeepney
jellyfish
Jinja2
jiter
jmespath
joblib
json5
jsonpatch
jsonpath-ng
jsonpath-python
jsonpickle
jsonpointer
jsonschema
jsonschema-specifications
jupyter-client
jupyter-core
jupyter-events
jupyterlab
jupyterlab-pygments
jupyterlab-server
jupyterlab-widgets
jupyter-lsp
jupyter-server
jupyter-server-terminals
kaleido
kedro
kedro-azureml
kedro-boot
kedro-datasets
kedro-docker
kedro-fast-api
kedro-telemetry
kedro-viz
keras
keyring
kiwisolver
knack
lancedb
langchain
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
langcodes
langdetect
langsmith
language-data
lazy-imports
lazy-loader
lazy-model
ldap3
libclang
lightfm
lightgbm
lime
litestar
llama-cloud
llama-hub
llama-index
llama-index-agent-openai
llama-index-cli
llama-index-core
llama-index-embeddings-azure-openai
llama-index-embeddings-openai
llama-index-indices-managed-llama-cloud
llama-index-legacy
llama-index-llms-azure-openai
llama-index-llms-openai
llama-index-multi-modal-llms-openai
llama-index-program-openai
llamaindex-py-client
llama-index-question-gen-openai
llama-index-readers-file
llama-index-readers-json
llama-index-readers-llama-parse
llama-index-vector-stores-azurecosmosmongo
llama-parse
llvmlite
lxml
Mako
marisa-trie
Markdown
markdown-it-py
MarkupSafe
marshmallow
matplotlib
matplotlib-inline
mccabe
mdurl
mistune
ml-dtypes
mlflow
mlflow-skinny
mltable
ml-wrappers
mongomock
mongomock-motor
monotonic
more-itertools
motor
motor-types
mpmath
msal
msal-extensions
msgpack
msgspec
msrest
msrestazure
multidict
multiprocess
murmurhash
mypy
mypy-extensions
namex
narwhals
nbclient
nbconvert
nbformat
ndg-httpsclient
neo4j
nest-asyncio
networkx
nh3
nltk
nodeenv
nose
notebook
notebook-shim
num2words
numba
numpy
oauthlib
olefile
omegaconf
onnx
onnxruntime
openai
opencensus
opencensus-context
opencensus-ext-azure
opencensus-ext-logging
opencv-python
openpyxl
opensearch-py
opentelemetry-api
opentelemetry-sdk
opentelemetry-semantic-conventions
opt-einsum
optree
optuna
orderly-set
orjson
outcome
overrides
packaging
pandas
pandocfilters
paramiko
parse
parso
pathspec
patsy
pbr
pdf2image
pdfminer
pdfrw
pexpect
pillow
pip
pkginfo
platformdirs
plotly
plotly-resampler
pluggy
ply
pmdarima
poetry
poetry-core
poetry-plugin-export
polyfactory
portalocker
posthog
pre-commit
pre-commit-hooks
preshed
prometheus-client
prompthub-py
prompt-toolkit
propcache
protobuf
proto-plus
psutil
ptyprocess
pure-eval
py
pyaml
pyarrow
pyarrow-hotfix
pyasn1
pyasn1-modules
pycodestyle
pycparser
pycryptodome
pyctuator
pydantic
pydantic-core
pydantic-settings
pydash
pydeck
pyflakes
Pygments
PyHive
PyJWT
pylance
pylint
pyltr
pymongo
PyMuPDF
PyMuPDFb
PyNaCl
PyNomaly
pyodbc
pyOpenSSL
pyparsing
pypdf
pyproject-api
pyproject-hooks
PySocks
pytesseract
pytest
pytest-asyncio
pytest-cov
pytest-httpx
pytest-mock
pytest-sugar
python-dateutil
python-dotenv
python-iso639
python-json-logger
python-ldap
python-magic
python-multipart
python-oxmsg
python-slugify
python-utils
pytoolconfig
pytz
pywin32
pywin32-ctypes
PyYAML
pyzmq
quantulum3
querystring-parser
raiutils
rank-bm25
RapidFuzz
ratelimiter
readme-renderer
recordlinkage
referencing
regex
reportlab
requests
requests-cache
requests-oauthlib
requests-toolbelt
retry
retrying
rfc3339-validator
rfc3986
rfc3986-validator
rich
rich-click
rope
rpds-py
rsa
ruamel.yaml
ruamel.yaml.clib
ruff
safetensors
schemdraw
scikit-base
scikit-learn
scikit-plot
scipy
seaborn
SecretStorage
secure
selenium
semver
Send2Trash
sentencepiece
sentence-transformers
sentinels
setuptools
shap
shellingham
simplejson
six
sktime
slicer
smart-open
smmap
sniffio
sortedcontainers
soupsieve
spacy
spacy-legacy
spacy-loggers
sparse-dot-topn
SQLAlchemy
sqlparse
srsly
sseclient-py
stack-data
starlette
statsmodels
stevedore
strawberry-graphql
streamlit
strictyaml
striprtf
strsimpy
sympy
tabula-py
tabulate
tantivy
tbats
tenacity
tensorboard
tensorboard-data-server
tensorflow
tensorflow-io-gcs-filesystem
termcolor
terminado
textblob
text-unidecode
tf2onnx
thinc
threadpoolctl
tiktoken
tinycss2
tokenizers
toml
tomli
tomlkit
toolz
toposort
torch
torchvision
tornado
tox
tqdm
traitlets
transformers
trio
trio-websocket
trove-classifiers
tsdownsample
twine
typeguard
typer
types-python-dateutil
typing-extensions
typing-inspect
tzdata
tzlocal
ujson
unicorn
unstructured
unstructured-client
uri-template
urllib3
url-normalize
uvicorn
uvloop
virtualenv
wasabi
watchdog
watchfiles
watchgod
wcwidth
weasel
webcolors
webencodings
websocket-client
websockets
Werkzeug
wheel
widgetsnbextension
wrapt
wsproto
wurlitzer
xattr
xgboost
xxhash
yarl
yellowbrick
zipp
zstandard